.mainhead{
    color: maroon;
    display: flex;
  }
.post
{
    background-color: blanchedalmond;
    padding-left: 2rem;
    border-radius: 2rem;
    /* width:30rem; */
}
.user
{
    font-style: italic;
    color: darkblue;
}

.button-75 {
    align-items: center;
    background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
    border: 0;
    border-radius: 10px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-family: "Codec cold", sans-serif;
    font-size: 16px;
    font-weight: 700;
    height: 54px;
    justify-content: center;
    letter-spacing: .4px;
    line-height: 1;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    user-select: none;
    margin-right: -37rem;
    border-radius: 0.5rem;
}

.button-75:active {
  outline: 0;
}

.button-75:hover {
  outline: 0;
}

.button-75 span {
  transition: all 200ms;
}

.button-75:hover span {
  transform: scale(.9);
  opacity: .75;
}

@media screen and (max-width: 991px) {
  .button-75 {
    font-size: 15px;
    height: 50px;
  }

  .button-75 span {
    line-height: 50px;
  }
}


.button-33 {
  background-image: linear-gradient(#f7f8fa ,#e7e9ec);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  box-shadow: rgba(255,255,255,.6) 0 1px 0 inset;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",Arial,sans-serif;
  font-size: 14px;
  height: 29px;
  font-size: 13px;
  outline: 0;
  overflow: hidden;
  padding: 0 11px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin-bottom: 1rem;
}

.button-33:active {
  border-bottom-color: #a2a6ac;
}

.button-33:active:hover {
  border-bottom-color: #a2a6ac;
}

.button-33:hover {
  border-color: #a2a6ac #979aa1 #82858a;
}


.button-33:focus {
  border-color: #e77600;
  box-shadow: rgba(228, 121, 17, .5) 0 0 3px 2px;
  outline: 0;
}
.logout
{
  align-items: center;
    background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
    border: 0;
    border-radius: 10px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-family: "Codec cold", sans-serif;
    font-size: 16px;
    font-weight: 700;
    height: 54px;
    justify-content: center;
    letter-spacing: .4px;
    line-height: 1;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    user-select: none;
}

.button-75-1 {
  align-items: center;
  background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: "Codec cold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 54px;
  justify-content: center;
  letter-spacing: .4px;
  line-height: 1;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  margin-right: -29rem;
}

.grid
{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 2 columns with equal width */
  gap: 10px; /* space between items */

}

.btns
{
  display: flex;
  justify-content: space-between;
}
